---
name: main

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2

      - name: Login to DockerHub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate image tag
        id: image_tag
        run: |
          echo tag=$(echo ${{ github.event.release.tag_name }} | sed 's/^v//') >> $GITHUB_OUTPUT

      - name: Build && Push
        uses: docker/build-push-action@v4.0.0
        with:
          context: .
          file: Dockerfile.base
          tags: t42x/awxkit_base:${{ steps.image_tag.outputs.tag }}
          push: true
