---
name: main

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on:
      - ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build && Push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.base
          tags: t42x/awxkit_base:latest,t42x/awxkit_base:${{ github.ref_name }}
          push: true
